.pascoa h3,
.pascoa-footer h3 {
  color: #616f85;
  line-height: 1.5em;
}

.pascoa-footer h3 span {
  color: #4e4b98;
}

section.slider {
  margin-top: 80px;
}

footer {
  margin-top: 150px;
}

.center {
  color: #ccccc;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.social-icon {
  margin-top: 15px;
  width: 70%;
}

.pascoa-credits ul {
  list-style: none;
}

.social ul {
  display:table-row;
}

.social ul li {
  display: table-cell;
  height: 100px;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle;
}
.social ul li a {
  padding: 10px;
  display:table-cell;
  vertical-align: middle;
  height:100px;
  margin-left: auto;
  margin-right: auto;
}

.pascoa {
  margin-top: 50px;
}

.pascoa-credits {
  margin-top: 100px;
}

.pascoa-footer {
  margin-top: 80px;
}