section.slider {
  margin-top: 80px;
}

footer {
  margin-top: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.social-icon {
  margin-top: 15px;
  width: 60%;
}